.widget.google_maps_widget.well
  - if @widget.title.present?
    = cms_tag(:h3, @widget, :title)

  - if @widget.body.present?
    = cms_tag(:div, @widget, :body)

  = render('google_maps_widget/map', location: @widget.address)