.ip_editing_widget_visualization
  %i.ip_editing_icon
    &#xF008;

.ip_editing_widget_title
  = t('widgets.google_maps_widget.title')

.ip_editing_widget_description
  = t('widgets.google_maps_widget.description')