.row-fluid
  .span12
    .tags
      = tag_link_list(@entry)

.row-fluid
  .span12
    = render_cell(:blog_entry, :facebook, @entry)

    = render_cell(:blog_entry, :twitter, @entry)

= render_cell(:blog_entry, :comment, @entry)