.row-fluid
  .span2
    .author_image
      = image_tag author_image_path_for_entry(@entry)
  .span8
    .meta
      .date
        = @entry.publish_date
      .author
        = mail_to @entry.author_email, @entry.author_name