.row-fluid
  .span11
    %h2= @entry.title

= render_cell(:blog_entry, :header, @entry)

.row-fluid
  .span12
    - @entry.boxes.each do |box|
      = render_cell(:box, :show, @entry, box)

.row-fluid
  .span12
    = render_cell(:blog_entry, :footer, @entry)