.bundle/
.yardoc
config/rails_connector.yml
config/custom_cloud.yml
tmp/*
log/*.log
pkg/
doc/*
spec/tmp/*
spec/dummy/db/*.sqlite3
spec/dummy/log/*
spec/dummy/config/*.yml
spec/dummy/tmp/
spec/dummy/.sass-cache
Gemfile.lock
*.sublime-project
*.sublime-workspace
