%h2
  Global Attribute Details

  %span.badge
    = stats.global_attributes_count

- stats.global_attributes.in_groups_of(2).each do |group|
  .row-fluid
    - group.each do |attribute|
      - next unless attribute

      .span6.well.well-small
        = render('infopark_kickstarter/dashboards/show/attribute', attribute: attribute)