.ip_editing_widget_visualization
  %i.ip_editing_icon
    &#xF062;

.ip_editing_widget_title
  = t('widgets.video_widget.headline')

.ip_editing_widget_description
  = t('widgets.video_widget.description')