.ip_editing_widget_visualization
  %i.widget-icon.editing-icon-<%= icon %>

.ip_editing_widget_title
  = t('widgets.<%= file_name %>.title')

.ip_editing_widget_description
  = t('widgets.<%= file_name %>.description')