.ip_editing_widget_visualization
  %i.ip_editing_icon
    &#xF061;

.ip_editing_widget_title
  <%= human_name %>

.ip_editing_widget_description
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.