.ip_editing_widget_visualization
  %i.ip_editing_icon
    &#xF01A;

.ip_editing_widget_title
  = t('widgets.slider_widget.title')

.ip_editing_widget_description
  = t('widgets.slider_widget.description')