.ip_editing_widget_visualization
  %i.ip_editing_icon
    &#xF061;

.ip_editing_widget_title
  = t('widgets.image_widget.title')

.ip_editing_widget_description
  = t('widgets.image_widget.description')