.box.box_person.media.well
  %div.media-body
    %h3.media-heading
      = @widget.person.first_name
      = @widget.person.last_name

    %p
      %i.icon-envelope

      = mail_to(@widget.person.email)