.ip_editing_widget_visualization
  %i.ip_editing_icon &#xF061;
.ip_editing_widget_title
  Person Widget
.ip_editing_widget_description
  A widget that displays the contact informations of a crm contact
