@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

// Inplace editing toggle styles

a#edit-toggle {
  margin-right: 10px;
  margin-top: 10px;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1031;

  &:hover .editing-icon {
    color: #6e84a8;
  }
}

body.ip_editing_active {
  a#edit-toggle {
    display: none;
  }
}


// Move navbar down, when editbar is active

@infoparkEditingBarHeight: 47px;

body.ip_editing_active {
  padding-top: @infoparkEditingBarHeight;
}


// Inplace editing styles when editing is active and an editable working copy
// is selected.

body.ip_editing_active.ip_editable_workspace {
  // Widget inplace editing field styles

  div[data-ip-widget-obj-class] {
    @nestedWidgetColor: #74e000;

    min-height: 30px;

    div[data-ip-field-type=widget] {
      .transition(~"outline-color ease-in-out .8s");

      margin-top: 35px;
      min-height: 30px;
      outline: 2px dotted @nestedWidgetColor;
      outline: 2px dotted fade(@nestedWidgetColor, 20%);
      padding: 3px;

      &:hover {
        .transition(~"outline-color ease-in-out .3s");

        outline: 2px dotted @nestedWidgetColor;
      }

      & > .ip_editing_marker {
        border-color: @nestedWidgetColor;
      }
    }
  }

  // HTML and String inplace editing field styles

  [data-ip-field-type=html],
  [data-ip-field-type=string] {
    @editableFieldColor: #ffa500;

   .transition(~"outline-color ease-in-out .8s");

    min-height: 35px;
    outline: 2px dotted @editableFieldColor;
    outline: 2px dotted fade(@editableFieldColor, 30%);
    text-shadow: none;

    &:hover,
    &:focus {
      .transition(~"outline-color ease-in-out .3s");

      outline: 2px dotted @editableFieldColor;
      text-shadow: none;
    }
  }


  // fix for overlapped edit marker

  .redactor_box {
    z-index: 11112;
  }
}
