@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

// Mixins
#gradient {
  .hatched(@color: #555, @angle: 45deg) {
    background-color: @color;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.7)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.7)), color-stop(.75, rgba(255,255,255,.7)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(@angle, rgba(255,255,255,.7) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.7) 50%, rgba(255,255,255,.7) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(@angle, rgba(255,255,255,.7) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.7) 50%, rgba(255,255,255,.7) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(@angle, rgba(255,255,255,.7) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.7) 50%, rgba(255,255,255,.5) 75%, transparent 75%, transparent);
    background-image: linear-gradient(@angle, rgba(255,255,255,.7) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.7) 50%, rgba(255,255,255,.7) 75%, transparent 75%, transparent);
  }
}

// Inplace editing toggle styles

a#edit-toggle {
  margin-right: 10px;
  margin-top: 10px;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1031;

  &:hover .editing-icon {
    color: #6e84a8;
  }
}

body.ip_editing_active {
  a#edit-toggle {
    display: none;
  }
}


// Move navbar down, when editbar is active

@infoparkEditingBarHeight: 47px;

body.ip_editing_active {
  padding-top: @infoparkEditingBarHeight;
}


// Inplace editing styles when editing is active and an editable working copy
// is selected.

body.ip_editing_active.ip_editable_workspace {
  // Widget inplace editing field styles

  div[data-ip-widget-obj-class] {
    @nestedWidgetColor: #74e000;

    min-height: 30px;

    div[data-ip-field-type=widget] {
      .transition(~"outline-color ease-in-out .8s");

      margin-top: 35px;
      min-height: 30px;
      outline: 2px dotted @nestedWidgetColor;
      outline: 2px dotted fade(@nestedWidgetColor, 20%);
      padding: 3px;

      &:hover {
        .transition(~"outline-color ease-in-out .3s");

        outline: 2px dotted @nestedWidgetColor;
      }

      & > .ip_editing_marker {
        border-color: @nestedWidgetColor;
      }
    }
  }

  // HTML and String inplace editing field styles

  [data-ip-field-type=html],
  [data-ip-field-type=string] {
    @editableFieldColor: #ffa500;

   .transition(~"outline-color ease-in-out .8s");

    min-height: 35px;
    outline: 2px dotted @editableFieldColor;
    outline: 2px dotted fade(@editableFieldColor, 30%);
    text-shadow: none;

    &:hover,
    &:focus {
      .transition(~"outline-color ease-in-out .3s");

      outline: 2px dotted @editableFieldColor;
      text-shadow: none;
    }
  }

  .string-editor-box {
    &.saving {
      .opacity(40);
      .background-size(40px 40px);
      #gradient > .hatched(#aaa);

      -webkit-animation: progress-bar-stripes 1s linear infinite;
         -moz-animation: progress-bar-stripes 1s linear infinite;
          -ms-animation: progress-bar-stripes 1s linear infinite;
           -o-animation: progress-bar-stripes 1s linear infinite;
              animation: progress-bar-stripes 1s linear infinite;

      input {
        .opacity(10);
      }
    }

    input {
      width: 98%;
    }
  }
  // fix for overlapped edit marker

  .redactor_box {
    z-index: 11112;
  }
}
