.ip_editing_widget_visualization
  %i.obj-class-icon.editing-icon-box

.ip_editing_widget_title
  = t('obj_classes.<%= file_name %>.title')

.ip_editing_widget_description
  = t('obj_classes.<%= file_name %>.description')