- if flash[:alert]
  = render(:flash_message, type: :alert, class_name: 'alert-error')

- if flash[:notice]
  = render(:flash_message, type: :notice, class_name: 'alert-success')

- if flash[:warning]
  = render(:flash_message, type: :warning, class_name: 'alert-warning')

- if flash[:info]
  = render(:flash_message, type: :info, class_name: 'alert-info')