%form.form-inline{action: cms_path(@search_page)}
  %input.input-small{name: 'q', type: 'text', value: @query, placeholder: t('search.placeholder')}
  %input.btn{type: 'submit', value: t('search.search')}