- if @box.title.present?
  %h3
    = @box.title

- if @box.children.present?
  %ul.nav.nav-tabs
    - @box.children.each_with_index do | tab, index |
      = render({ state: :tab }, tab, index)

  %div.tab-content
    - @box.children.each_with_index do | tab, index |
      = render({ state: :content }, tab, index)