.widget.widget_video.well
  = render(state: :edit_marker)

  - if @widget.title.present?
    = cms_tag(:h3, @widget, :title)

  - if @widget.video_link.present?
    = render({ state: 'video' }, @widget)