:javascript
  var disqus_shortname = 'test-coco'; // required: replace example with your forum shortname

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

%noscript
  Please enable JavaScript to view the
  = link_to 'comments powered by Disqus.', 'http://disqus.com/?ref_noscript'
= link_to 'http://disqus.com', class: 'dsq-brlink' do
  .logo-disqus
    Disqus