.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header
      Suche
    %li
      .input-append
        =form_tag blog_search_path(blog_id: @blog) do
          %input.span2{type: :text, name: 'search_word'}
          %button.btn{type: :submit}
            Suche