.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header
      = t('blog.search.title')

    %li
      .input-append
        = form_tag(blog_search_path(blog_id: @blog)) do
          %input.span8{type: :text, name: 'query'}

          %button.btn{type: :submit}
            %i.icon-search