.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header
      Tags
      %ul.tags
        - @tags.each do |tag|
          - if @active_tags.include?(tag)
            %li.active
              = link_to(tag, tag_path(@blog, tag))
          - else
            %li
              = link_to(tag, tag_path(@blog, tag))