.ip_editing_widget_visualization
  %i.ip_editing_icon
    &#xF00A;

.ip_editing_widget_title
  = t('widgets.person_widget.title')

.ip_editing_widget_description
  = t('widgets.person_widget.description')